
.header {
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-size: 200px;
	padding-top: 0px;
	padding-right: 30px;
	padding-left: 0px;
	color: black;
}
#joyceLee1 {
	font-size: 66px;
	padding-top: 40px;
	padding-left: 0px;
    animation: mymove 2s infinite;
/*    animation-delay: 5s;
    animation-iteration-count: 1;*/
}

.navigation {
	text-align: right;
}

.head {
/*		display: flex;*/
}

body {
	scroll-behavior: smooth;
}

#category {
	display: flex;
	padding-left: 0px;
}

.project {
	width: 33%;
	height: 800px;
}
footer {
	font-family: "Futura", "Helvetica";
	font-size: 20px;
	text-align: center;
	color: gray;
	padding-bottom: 15px;
}

div {
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-size: 20px;
	padding-top: 60px;
	padding-right: 40px;
	padding-left: 160px;
	color: black;
}
.art {
	padding-left: 15px;
}
.separator {
	text-align: center;
	color:white;
	font-size: 40px;
	padding-top: 0px;
	padding-bottom: 60px;
}
.sticky {
	position: fixed;
	top: 0px;
	transition: 2s color;
	width: 100%;
	height: 200px;
	background-color: white;
}

.stickys2 {
	position: fixed;
/*	    z-index: 1;  Stay on top */
    top: 10px; /* Stay at the top */
    left: 0;
	top: 30px;
	color: blue;
	transition-duration: 10s all;
	text-align: right;
	transition: 2s all;
}

@keyframes mymove {
    10%   {color: black; left: 150px;}
    30% {color: blue; left: 160px; text-shadow: 3px 3px red;}
    70% {color: blue; left: 160px; text-shadow: 3px 3px red;}
    90%   {color: black; left: 150px;}
}