/*.emptyBox {
	background-color: black
	width: 80px;
	height: 20px;
}*/
.header {
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-size: 50px;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 80px;
    color: black;
}
#joyceLee2 {
		font-size: 66px;
}

.navigation {
	text-align: center;
}

footer {
	font-family: "Futura", "Helvetica";
	font-size: 20px;
	text-align: center;
	color: #ffe649;
}

div {
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-size: 20px;
    padding-top: 60px;
    padding-right: 40px;
    padding-left: 80px;
    color: black;
}

.sticky {
	position: fixed;
	top: 0;
	color: blue;
	transition: 2s all;
}

.stickys {
	position: fixed;
	top: 2;
	color: red;
	transition: 2s all;
}