<html id="everything">

<head>
  <link rel="stylesheet" type="text/css" href="static/css/index.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>
<div class="nav-wrapper" style="height:140px;">
  <div class="head">
    <header class="nav-link scroll">
      <h1 id="joyceLee1"> ･ﾟ✧ ✧ﾟ･:* JOYCE LEE *:･ﾟ✧ ✧ﾟ･:</h1>
      <script type="text/javascript" src="static/index.js"></script>
    </header>
  </div>
  <ul class="navigation" id="nav" style="list-style-type:none">
    <li>
      <a href="index.html" class="nav-item"> HOME </a>
    </li>
    <li>
      <a href="projects.html" class="nav-item"> PROJECTS </a>
    </li>
    <li>
      <a href="side.html" class="nav-item"> DESIGN </a>
    </li>
    <li>
      <a href="arts.html" class="nav-item"> FINE ARTS </a>
    </li>
    <li>
      <a href="contact.html" class="nav-item"> SO WHAT? </a>
    </li>
  </ul>
  <script type="text/javascript" src="index.js"></script>
</div>

<body id="body">
  <div class="emptyBox"> </div>
  <div class="description">
    Computer Scientist, Designer, Artist <br />
    <font max-width="900">like two colors that collide to create a 3D object, the harmonization of my coding and
      design interests gives a unique edge to my abilities <font>
  </div>

</body>

</html>